<div class="col-sm-12 col-lg-4 mb-3">
  <div id="jellyfish-id-<%= jellyfish.id %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
        <%= jellyfish.title %>
        </h4>
        <p class="card-text"><%= jellyfish.body %></p>
      </div>
    </div>
  </div>
</div>