<div class="bg-light">
  <div class="container pt-5">
    <div class="row">
      <div class="col-12">
        <h1>立候補メンバー</h1>
        <p>詳しい情報はクラゲの名前をクリックして見てみてください！</p>
        <div class="row">
          <% if @jellyfishes.present? %>
            <%= render @jellyfishes %>
          <% else %>
            <p><%= "ありません" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>