<div class='top-wrapper'>
  <div class='top-inner-text'>
      <div class="row">
        <% if @jellyfishes.present? %>
          <%= render @jellyfishes %>
        <% else %>
          <p><%= "ありません" %></p>
        <% end %>
    </div>
  </div>
</div>