<footer id='footer' class='footer-bottom bg-dark text-center text-lg-start'>
    <div class="text-center p-4" style='background-color:#00bfff;'>
        <div class='copyright'>
          <p>Copyright © 2022. Jellyfish-Election</p>
        </div>
      </div>
    </div>
  </div>
</footer>