<header>
<nav class="navbar navbar-dark" style="background-color:#00bfff;">
  <%= link_to "クラゲ総選挙", root_path, class: 'navbar-brand'  %>
  <%= link_to "投票はこちら！", jellyfishes_path, class: 'navbar-brand naver-light'  %>
    <%= link_to "投票結果", ranks_path, class: 'navbar-brand naver-light'  %>
  </nav>
</header>