<div class="bg-light">
<div class="container pt-5">
  <div class="row">
 <div class="col-12">
 <h1>投票結果</h1>
<% @jellyfish_like_ranks.each.with_index(1) do |jellyfish, i| %>
  <h2><span class="text-info font-weight-bold">第<%= i %>位</span></h2>
  <ul>
<%= render partial: 'jellyfish', locals:{ jellyfish: jellyfish} %>
  </ul>
  <% end %>
</div>
</div>