<div class="bg-light">
  <div class="row">
 <div class="col-12">
 <h1>開票結果! 選抜メンバー</h1>
 <p>シングルのメンバー決定！更に写真集も発売予定！！</p>
<% @jellyfish_like_ranks.each.with_index(1) do |jellyfish, i| %>
  <h2><span class="text-info font-weight-bold">第<%= i %>位</span></h2>
  <ul>
<%= render partial: 'jellyfish', locals:{ jellyfish: jellyfish} %>
  </ul>
  <% end %>
</div>
</div>