<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= "投稿" %></h1>
      <%= render 'jellyfishes/form', { jellyfishes: @jellyfish } %>
    </div>
  </div>
</div>